/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.special {
    background-color: pink;
    border: dashed 8px white;
    font-weight: bold;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Times New Roman';
}

p {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: slateblue
}